<div class="container">
	<form action="{{ url_for('password_recovery_validate', email=email) }}" method="post">
		{% if error is defined and error %}
			<div class="alert alert-danger">{{ error }}</div>
		{% endif %}
		<div class="form-group">
			<br> <br> <b> <label for="recovery_code">Recovery Code</label> </b>
			<input type="text" class="form-control" id="recovery_code" name="recovery_code" placeholder="Enter recovery code" required> 
		</div> <br> <br>
		<button type="submit" class="btn btn-primary">Validate Recovery Code</button> <br> <br> <br>  
		<center> <p class="bottom">Remembered your password?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p> </center>
	</form>
</div>
